<h1>Posts</h1>
<table border="1">
    <thead>
        <th>Date</th>
        <th>Author</th>
        <th>Post</th>
        <th>Delete</th> 
    </thead>
    <tbody>
        {% for post in object_list %}
        <tr>
            <td>{{post.date}}</td>
            <td>{{post.author}}</td>
            <td>{{post.post}}</td>
            <td><a href="{% url "post_delete" post.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url "post_new" %}">New</a> <!--post_new in urls.p-->